<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="68a769">  <td>22/10/21 17:31:55</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApptestTest.Search_with_card_detailTest()[pri:0, instance:Youtube.com.youtube.ApptestTest@59906517]">Search_with_card_detailTest</td> 
  <td>TestNG-test=Test-1@1190136951</td>   <td></td> </tr>
<tr bgcolor="68a769">  <td>22/10/21 17:45:44</td>   <td>828737</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApptestTest.Search_with_card_detailTest()[pri:0, instance:Youtube.com.youtube.ApptestTest@59906517]">Search_with_card_detailTest</td> 
  <td>TestNG-test=Test-1@1190136951</td>   <td></td> </tr>
<tr bgcolor="68a769">  <td>22/10/21 18:00:27</td>   <td>1711599</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApptestTest.Search_with_card_detailTest()[pri:0, instance:Youtube.com.youtube.ApptestTest@59906517]">Search_with_card_detailTest</td> 
  <td>TestNG-test=Test-1@1190136951</td>   <td></td> </tr>
<tr bgcolor="68a769">  <td>22/10/21 18:14:56</td>   <td>2580501</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApptestTest.Search_with_card_detailTest()[pri:0, instance:Youtube.com.youtube.ApptestTest@59906517]">Search_with_card_detailTest</td> 
  <td>TestNG-test=Test-1@1190136951</td>   <td></td> </tr>
<tr bgcolor="68a769">  <td>22/10/21 18:28:51</td>   <td>3415780</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApptestTest.Search_with_card_detailTest()[pri:0, instance:Youtube.com.youtube.ApptestTest@59906517]">Search_with_card_detailTest</td> 
  <td>TestNG-test=Test-1@1190136951</td>   <td></td> </tr>
<tr bgcolor="68a769">  <td>22/10/21 18:42:36</td>   <td>4240909</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApptestTest.Search_with_card_detailTest()[pri:0, instance:Youtube.com.youtube.ApptestTest@59906517]">Search_with_card_detailTest</td> 
  <td>TestNG-test=Test-1@1190136951</td>   <td></td> </tr>
<tr bgcolor="68a769">  <td>22/10/21 18:56:22</td>   <td>5066143</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApptestTest.Search_with_card_detailTest()[pri:0, instance:Youtube.com.youtube.ApptestTest@59906517]">Search_with_card_detailTest</td> 
  <td>TestNG-test=Test-1@1190136951</td>   <td></td> </tr>
<tr bgcolor="68a769">  <td>22/10/21 19:10:12</td>   <td>5896208</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApptestTest.Search_with_card_detailTest()[pri:0, instance:Youtube.com.youtube.ApptestTest@59906517]">Search_with_card_detailTest</td> 
  <td>TestNG-test=Test-1@1190136951</td>   <td></td> </tr>
<tr bgcolor="68a769">  <td>22/10/21 19:11:45</td>   <td>5989307</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApptestTest.Search_with_card_detailTest()[pri:0, instance:Youtube.com.youtube.ApptestTest@59906517]">Search_with_card_detailTest</td> 
  <td>TestNG-test=Test-1@1190136951</td>   <td></td> </tr>
<tr bgcolor="68a769">  <td>22/10/21 19:25:46</td>   <td>6830727</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApptestTest.Search_with_card_detailTest()[pri:0, instance:Youtube.com.youtube.ApptestTest@59906517]">Search_with_card_detailTest</td> 
  <td>TestNG-test=Test-1@1190136951</td>   <td></td> </tr>
</table>
