<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="95b596">  <td>22/11/05 16:25:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ApptestTest.initialSetup()[pri:0, instance:Youtube.com.youtube.ApptestTest@29ba4338]">&gt;&gt;initialSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@846947180</td>   <td></td> </tr>
<tr bgcolor="95b596">  <td>22/11/05 16:25:30</td>   <td>24126</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApptestTest.Search_with_card_detailTest()[pri:1, instance:Youtube.com.youtube.ApptestTest@29ba4338]">Search_with_card_detailTest</td> 
  <td>main@846947180</td>   <td></td> </tr>
<tr bgcolor="95b596">  <td>22/11/05 16:57:43</td>   <td>1957135</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ApptestTest.logou()[pri:0, instance:Youtube.com.youtube.ApptestTest@29ba4338]">&lt;&lt;logou</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@846947180</td>   <td></td> </tr>
</table>
